language: python
python:
  - "2.7"
  - "3.5"
install:
  - pip install -r requirements_dev.txt
  - pip install tox
  - TOX_ENV=py$TRAVIS_PYTHON_VERSION

script:
  - tox -e $TOX_ENV

matrix:
  allow_failures:
    - env: TOX_ENV="py3.5"
